@inherits LayoutComponentBase

<PageTitle>BitcoinMonitor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/MarcC83/BitcoinMonitor" target="_blank">GitHub repository</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
